body {
    background-color: burlywood;
    background-image: url(images/gorengan.jpeg);
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: #d9aa62;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    display: inline-block;
}

.variasi {
    text-align: left;
    width: 50%;
}

.harga {
    text-align: right;
    width: 50%;
}